</main>

<footer>
  <p><span class="external-icons">
  <a href="https://twitter.com/geobomatic"><i class="fab fa-twitter"></i></a> &middot; 
  <a href="https://github.com/Geobert"><i class="fab fa-github"></i></a> &middot; 
  <a href="https://www.flickr.com/photos/geobmcfly/"><i class="fab fa-flickr"></i></a>
  </span></p>
  <span>
    &copy; {{ site.data.copyright }} {{ site.data.author }}. 
    {% if paginator %}
      {% if paginator.total_pages > 1 %}
        {{ paginator.total_pages }} articles propulsés par        
      {% elsif paginator.total_pages == 1 %}
        {{ paginator.total_pages }} article propulsé par
      {% else %}
        Propulsé par  
      {% endif %}
    {% else %}
      Propulsé par
    {% endif %}
    <a href="http://cobalt-org.github.io/">Cobalt</a>.
  </span>
</footer>
</body>

</html>