</main>

<footer>
  <p><span class="external-icons">
  <a href="https://twitter.com/geobomatic"><i class="fab fa-twitter"></i></a> &middot; 
  <a href="https://github.com/Geobert"><i class="fab fa-github"></i></a> &middot; 
  <a href="https://www.flickr.com/photos/geobmcfly/"><i class="fab fa-flickr"></i></a>
  </span></p>
  <span>
    &copy; {{ site.data.copyright }} {{ site.data.author }}. 
    {% if paginator.total_pages %}
    {{ paginator.total_pages }} articles propulsés par
    <a href="http://cobalt-org.github.io/">Cobalt</a>.
    {% else %}
    Propulsé par <a href="http://cobalt-org.github.io/">Cobalt</a>. 
    {% endif %}
  </span>
</footer>
</body>

</html>