// Colors
$background-color: #2c2c2c;
$default-color: #d8d8d8;
$default-shade: #cbced4;
$default-tint: #979797; 
$grey-1: #afafaf;
$grey-2: #e5e5e5;
$grey-3: #202020;
$grey-4: #bbbbbb;
$white: #fff;
$shadow-color: rgba(255, 255, 255, 0.4);
$highlight: #ffee00;
$code-color: $grey-4;

// Fonts
$serif-primary: 'Roboto Slab', serif;
$serif-secondary: 'Roboto Slab', serif;
$sans-serif: 'Inconsolata', 'Segoe UI', Helvetica, Arial, sans-serif;
$monospaced: 'Inconsolata', monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}