{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{{ config.title }}{% endblock title %}
    </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/fonts.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/tale.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="feed" href="/rss.xml" type="application/rss+xml" title="{{ config.title }}" />
</head>

<body>
    <nav class="nav">
        <div class="nav-container">
            <a href="/">
                <h2 class="nav-title">{{ config.title }}</h2>
            </a>

            <ul>
                <li><a href="/about/">À propos</a></li>
                <li><a href="/archives/">Archives</a></li>
                <li><a href="/tags/">Tags</a></li>
                <li><a href="/rss.xml"><i class="fa fa-rss-square"></i></a></li>
            </ul>
            <div class="site-description">{{ config.description }}</div>

        </div>
    </nav>
    <main class="content">
        {% block content %}{% endblock content %}
    </main>
    <footer>
        <p><span class="external-icons">
                <a href="https://twitter.com/geobomatic"><i class="fab fa-twitter"></i></a> &middot;
                <a href="https://github.com/Geobert"><i class="fab fa-github"></i></a> &middot;
                <a href="https://www.flickr.com/photos/geobmcfly/"><i class="fab fa-flickr"></i></a>
            </span></p>
        <span>
            &copy; {{ config.extra.copyright }} {{ config.extra.author }}.
            {% if paginator and paginator.total_pages %}
            {% set nb_pages = paginator.total_pages %}
            {% if nb_pages > 1 %}
            {{ nb_pages }} articles propulsés par
            {% elif nb_pages == 1 %}
            {{ nb_pages }} article propulsé par
            {% else %}
            Propulsé par
            {% endif %}
            {% else %}
            Propulsé par
            {% endif %}
            <a href="https://getzola.org/">Zola</a>.
        </span>
    </footer>
</body>

</html>