</main>

<footer>
  <p><span class="external-icons">
  <a href="https://twitter.com/geobomatic"><i class="fab fa-twitter"></i></a> &middot; 
  <a href="https://github.com/Geobert"><i class="fab fa-github"></i></a> &middot; 
  <a href="https://www.flickr.com/photos/geobmcfly/"><i class="fab fa-flickr"></i></a>
  </span></p>
  <span>
    &copy; {{ config.extra.copyright }} {{ config.extra.author }}. 
    {% if paginator %}
      {% set nb_pages = paginator.total_pages %}
      {% if nb_pages > 1 %}
        {{ nb_pages }} articles propulsés par        
      {% elif nb_pages == 1 %}
        {{ nb_pages }} article propulsé par
      {% else %}
        Propulsé par  
      {% endif %}
    {% else %}
      Propulsé par
    {% endif %}
    <a href="https://getzola.org/">Zola</a>.
  </span>
</footer>
</body>

</html>