{% extends "base.html" %}
{% block title %}{{ config.title }} • {{ page.title }}{% endblock title %}
{% block content %}
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>
  <div class="post-info">
    <div class="date">
      <time datetime="{{ macros::date_fr(date=page.date) }}">{{ macros::date_fr(date=page.date) }}</time>
      <span class="fas fa-clock eta"></span>{{ macros::reading_time(time=page.reading_time) }}
    </div>
    <div class="tags">
      {% if page.taxonomie["tags"] %}<span class="fa fa-tags"></span>{{ macros::print_tags(page=page) }}{% endif %}
    </div>
  </div>
  <article>
    {{ page.content | safe }}
  </article>
</div>
<div class="pagination">
{% if page.earlier %}
   <a class="arrow left one_arrow" style="max-width: 45%; left: 0px !important;" href="{{page.earlier.permalink}}">{{page.earlier.title}}</a>
 {% endif %}
 {% if page.later %}
   <a class="arrow right one_arrow" style="max-width: 45%;" href="{{page.later.permalink}}">{{page.later.title}}</a>
{% endif %}
</div>
{% endblock content %}
