---
permalink: /
published_date: "2018-02-10 21:57:48 +0000"
layout: default.liquid
is_draft: false
pagination:
  include: All
  per_page: 5
---
<div class="catalogue">
  {% for page in paginator.pages %}
  <div class="catalogue-item">
    <a href="/{{ page.permalink }}" class="fill-div"></a>
    <time datetime="{% include date_fr.liquid %}" class="catalogue-time">{% include date_fr.liquid %}</time>
    <h1 class="catalogue-title">{{ page.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {{ page.excerpt }}
    </p>

    <span class="fas fa-clock eta"></span>{% include reading_time.liquid %}
    {% if page.tags %}<span class="fa fa-tags" style="margin-left: 8px;"></span>{% include print_tags.liquid %}{% endif %}
  </div>
  {% endfor %}
</div>
{% include nav_pagination.liquid %}
</div>
